# Arquivos de compilação
*.o
*.out
*.pyc

# Arquivos específicos do projeto
config.py
secrets.py

# Ignora a pasta __pycache__ criada pelo Python 3.3 e posterior
__pycache__/

# Ignora a pasta .vscode
.vscode/

# Ignora logs e outros arquivos temporários do Airflow
airflow-webserver.err
airflow-webserver.pid
airflow-worker.err
airflow-worker.pid
logs/

# Ignora a pasta Csvs
Csvs/

# Ignorar a pasta Pentaho
/Pentaho/

# Ignora a pasta Scripts
/Scripts/

# Ignora o arquivo requirements.txt
/requirements.txt
